<div class="row">
  <div class="col col-md-12">
    <h2 align="center"><%= @video.title %></h2>
    <div><%= @video.video.html_safe %></div>
  </div>
</div>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
