<div class="row">
  <div class="col col-md-12">
    <h2 align="center"><%= @news_page.title %></h2>
    <pre align="justify"><%= @news_page.content %></pre>
  </div>
</div>

<%= link_to 'Edit', edit_news_page_path(@news_page) %> |
<%= link_to 'Back', news_pages_path %>
