@import "bootstrap-sprockets";
@import "bootstrap";

navbar-right{
  margin-right: 0px;
}

#body-wrapper{
  width: 95%;
  background-color: #fff;
  height: auto;
  margin: 0 auto;
  padding: 1% 2%;
}
#nav-img{
  width: 100%;
  height: 250px;
}

.article-actions {
  border-top: 2px solid #eaeaea;
  margin-bottom: -10px;
}
#buttons{
  padding-top: 10px;
  
}

#title_h4{
  margin-top: -5px;
}

